<div class="carousel">
      <ngb-carousel [interval]="3000">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper img-slider">
                  <img class="d-block w-100" src="../../../assets/r1.jpg"  >
                  <img class="d-block w-100" src="../../../assets/r6.jpg"  >
                  <img class="d-block w-100" src="../../../assets/r3.jpg"  > 
                  <img class="d-block w-100" src="../../../assets/r7.jpg"  > 
            </div> 
            </ng-template>
            <ng-template ngbSlide>
                  <div class="picsum-img-wrapper img-slider">
                      <img class="d-block w-100" src="../../../assets/r5.jpg"  >
                      <img class="d-block w-100" src="../../../assets/r8.jpg"  >
                      <img class="d-block w-100" src="../../../assets/r2.jpg" >
                      <img class="d-block w-100" src="../../../assets/r9.jpg"  >
                </div>
            </ng-template>      
            <ng-template ngbSlide>
                  <div class="picsum-img-wrapper img-slider">
                      <img class="d-block w-100" src="../../../assets/r11.jpg"  >
                      <img class="d-block w-100" src="../../../assets/r12.jpg"  >
                      <img class="d-block w-100" src="../../../assets/r10.jpg" >
                      <img class="d-block w-100" src="../../../assets/r13.jpg"  >
                </div>
            </ng-template> 
      </ngb-carousel>
</div>
<div class="title">QUALITY INGREDIENTS. TOP TALENT. GENUINE HOSPITALITY.</div>
<div class="description">
      Best Place Restaurant is a full-service, boutique hospitality firm based in the heart of New York City, one block south of Bryant Park. We provide a platform to connect individuals with multiple dining resources, including amenity services, events, and catering. We offer these services to an eclectic group of clients, including Fortune 100 companies, world class cultural foundations, and Class A corporate landlords. Each of our menus are crafted with quality, locally sourced produce, sustainable practices and inclusive standards. We are known for our love of food, commitment to our clients, and our “can-do” attitude. 
</div>