<div class="container-details">
      <div class="contact-details">
          <p id="title">CONTACT</p>
            <div style="display: flex; justify-content: flex-start; align-items: baseline;"> 
                  <img src="../../../assets/pin.png" style="width: 20px; height: 30px; margin-right: 20px;">
                  <p>101 State St.Harbour Springs, MI 49740, USA</p>

             </div>
            <div style="display: flex; justify-content: flex-start; align-items: baseline;"> 
                   <img src="../../../assets/phone.png" style="width: 30px; height: 30px; margin-right: 10px;">
                   <P>800.234.5768</P>

            </div>
                  <p>bestplace.restaurant@gmail.com</p>
                  <p id="title">PROGRAM</p>
                  <P>Monday - Saturday</P>
          <div style="display: flex; justify-content: flex-start; align-items: baseline;"> 
                   <img src="../../../assets/clock.png" style="width: 30px; height: 30px; margin-right: 10px;">
                  <P>10 AM - 9 PM</P>

      </div>  
      </div>
      <div>
          <img src="../../../assets/r14.jpg" style="margin-top: 30px;">
      </div>
      <div class="form">
            <p id="title">SEND US A MESSAGE</p>
            <div class="reserv-form">
                  <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">NAME *</label>
                          <input type="text" class="form-control"  placeholder="John Smith">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">E-MAIL *</label>
                          <input type="email" class="form-control"  placeholder="johnsmith@gmail.com">
                  </div>
                  </div>
                  
                      <div class="form-group">
                        <label for="inputAddress2">PHONE</label>
                        <input type="tel" class="form-control"  placeholder="800.234.5672">
                      </div>
                      <div class="form-group">
                        <label for="inputAddress2">MESSAGE *</label>
                        <input type="text" class="form-control"  placeholder="">
                      </div>
                      <div class="button">
                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                      </div>
                  </div>
      </div>
</div>