<div id="text">RESERVE A TABLE NOW AND GIVE YOUT LOVED ONE A PLEASANT SURPRISE!</div>
<div class="reserv-container">
      <div>
            <img src="../../../assets/food2.png" style="padding-top: 50px; width: 20vw; ">
      </div>
      <div class="reserv-form">
            <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">First Name</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="John">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Last Name</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="Smith">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">E-mail address</label>
                  <input type="email" class="form-control" id="inputAddress" placeholder="johnsmith@gmail.com">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Phone Number</label>
                  <input type="tel" class="form-control" id="inputAddress2" placeholder="800 23456742">
                </div>
                <div  class="form-row-people">
                  <div class="form-group col-md-4">
                        <label for="inputState">Adults</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Children</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                </div>
                <div class="button">
                  <button type="submit" class="btn btn-primary">RESERVE A TABLE</button>

                </div>

      </div>
      <div>
            <img src="../../../assets/food.png" style="padding-top: 20px; width: 20vw;">

      </div>
</div>