.reserv-container{
      display: flex;
      justify-content: space-around;
}
img{
      width: 400px;
}
#text{
      color: white;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      font-size: 25px;
       font-family: 'Nunito', sans-serif;;
}
.reserv-form{
      background: #1C1B1B; 
	border: solid #f8c97d 1px; 
      border-radius: 20px;
	box-shadow: 0 0 30px #f8c97d  ; 
	-webkit-box-shadow: 0 0 30px #f8c97d  ; 
	-moz-box-shadow: 0 0 30px #f8c97d ; 
      width: 35vw;
     
}
label{
      font-size: 15px;
      padding-bottom: 5px;
      font-family: 'Nunito', sans-serif;
}
input{
      font-family: 'Nunito', sans-serif;
}
   
    .form-group{
      font: normal normal  14px/21px Segoe UI;
      padding: 15px;
      padding-bottom: 5px;
      letter-spacing: 0;
      color: #ffffff;
      opacity: 1;
    }
    .form-row{
          display: flex;
          justify-content: space-between;
    }
    .form-row-people{
      display: flex;
      justify-content: space-around;
    }
    .btn{
      background: #f8c97d 0 0 no-repeat padding-box;
      border-radius: 5px;
      border: 0;
      width: 18vw;
      margin-top: 30px;
      font: normal normal 600 14px/27px  'Nunito';
      letter-spacing: 0;
      color: #1c1b1b;
      text-transform: uppercase;
      opacity: 1;
      cursor: pointer;
    }
    .button{
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
    }